<body >

<div class="page">
    
    <!-- navbar-->
    <header class="header" >
        
        <nav class="navbar" >
            <div class="container-fluid">
                <div class="navbar-holder d-flex align-items-center justify-content-between">
                    <div class="navbar-header"><a id="toggle-btn" href="#" class="menu-btn"><i class="icon-bars">
                            </i></a><a href="index.html" class="navbar-brand">
                            <div class="brand-text d-none d-md-inline-block"><span>Kanuni @</span><strong
                                    class="text-primary">Money</strong></div>
                        </a></div>
                    <ul class="nav-menu list-unstyled d-flex flex-md-row align-items-md-center">

                        <!-- Log out-->
                        <li class="nav-item"><a [routerLink]="['/login']" (click)="logout()" class="nav-link logout">Deconexion<i
                                    class="fa fa-sign-out"></i></a>
                        </li>
                        
                    </ul>
                </div>
            </div>
        </nav>
  
    </header>
    <nav class="side-navbar" *ngIf="isAuthenticated()">
        <div class="side-navbar-wrapper">
            <!-- Sidebar Header    -->
            <div class="sidenav-header d-flex align-items-center justify-content-center">
                <!-- User Info-->
                <div class="sidenav-header-inner text-center"><img src="assets/img/icon.jpg" alt="person"
                        class="img-fluid rounded-circle">
                    <h2 class="h5">K@M</h2><span>Un transfert,fiable et securisé!</span>
                </div>
                <!-- Small Brand information, appears on minimized sidebar-->
                <div class="sidenav-header-logo"><a href="index.html" class="brand-small text-center">
                        <strong>K</strong><strong class="text-primary">M</strong></a></div>
            </div>
            <!-- Sidebar Navigation Menus-->
            <div class="main-menu">
                <h5 class="sidenav-heading">MENU</h5>
                <ul id="side-main-menu" class="side-menu list-unstyled">
                    <li><a [routerLink]="['/login']"> <i class="icon-home"></i>Accueil</a></li>
    
                    <li *ngIf="isCaisier()"><a [routerLink]="['/caisier']"> <i class="icon-interface-windows"></i>Dépot</a></li>
    
                    <li *ngIf="isAdminPartenaire()|| isSuperAdminSystem()" ><a href="#exampledropdownDropdown1" aria-expanded="false" data-toggle="collapse"><i
                                class="icon-interface-windows"></i>Ajouter</a>
                        <ul id="exampledropdownDropdown1" class="collapse list-unstyled ">
                            <li *ngIf="isSuperAdminSystem()"><a [routerLink]="['/addpartenaire']">Partenaire</a></li>
                            <li *ngIf="isAdminPartenaire()"><a [routerLink]="['/addUser']">Users</a></li>
                        </ul>
                    </li>
                    <li *ngIf="isUser()"><a [routerLink]="['/addTransa']"><i class="fa fa-bar-chart"></i>Faire transaction</a></li>
    
                    <li *ngIf="isAdminPartenaire() || isUser() || isSuperAdminSystem()"><a href="#exampledropdownDropdown" aria-expanded="false" data-toggle="collapse"><i
                                class="icon-interface-windows"></i>Listes</a>
                        <ul id="exampledropdownDropdown" class="collapse list-unstyled ">
                            <li *ngIf="isSuperAdminSystem()"><a [routerLink]="['/partenaire']">Partenaires</a></li>
                            <li *ngIf="isSuperAdminSystem()||isAdminPartenaire()"><a [routerLink]="['/utilisateur']">Users</a></li>
                            <li *ngIf="isAdminPartenaire() || isUser()"><a [routerLink]="['/transaction']">Transactions</a></li>
                        </ul>
                    </li>
    
                </ul>
            </div>
        </div>
    </nav>
    <section>
<router-outlet></router-outlet>
    </section>

    <footer class="main-footer" *ngIf="isAuthenticated()">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-6">
                    <p>Kanuni@Money&copy; 2019-2021</p>
                </div>
                <div class="col-sm-6 text-right">
                    <p>Design by <a href="#" class="external">Juniorlaye07</a></p>
                    <!-- Please do not remove the backlink to us unless you support further theme's development at https://bootstrapious.com/donate. It is part of the license conditions and it helps me to run Bootstrapious. Thank you for understanding :)-->
                </div>
            </div>
        </div>
    </footer>
</div>
<!-- JavaScript files-->
<script src="assets/vendor/jquery/jquery.min.js"></script>
<script src="assets/vendor/popper.js/umd/popper.min.js"> </script>
<script src="assets/vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="assets/js/grasp_mobile_progress_circle-1.0.0.min.js"></script>
<script src="assets/vendor/jquery.cookie/jquery.cookie.js"> </script>
<script src="assets/vendor/chart.js/Chart.min.js"></script>
<script src="assets/vendor/jquery-validation/jquery.validate.min.js"></script>
<script src="assets/vendor/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="assets/js/charts-home.js"></script>
<!-- Main File-->
<script src="assets/js/front.js"></script>
</body>
